*{
    margin:0;
    border:0;
    /* broswer fix */
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkcyan;
    position: fixed;
    top: 0;
    width: 100%;
    
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

li a:active{
    background-color: rgba(0, 139, 139, 0.788);
}
.tinted-image {
  
    width: 100%;
    height: 95vh;
    
    background: 
      /* top, transparent red */ 
      linear-gradient(to right,rgba(25, 197, 209, 0.3) , rgba(25, 197, 209, 0.99)),
      /* bottom, image */
      url(img/Netflix-Streaming-End-of-Year-Posts.jpg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-top: 30vh;
      text-align: center;
      color: white;
  }

h1{
    font-size: 40px;
    line-height: 80px;
}
h3{
    font-size:24px;
}

.btn{
    color:white;
    font-size:24px;
    background-color: darkcyan;
    border-radius: 10px;
    padding: 10px 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create three equal columns that sits next to each other */
  .col-3 {
    flex: 33.3%;
    padding: 20px 30px;
    align-content: center;
  }
  
  .col-3 img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 50%;
  }
  .centerimg{
    display: block;
    margin: 0 auto;
  }
.col-3 h3{
    line-height: 200%;
}

  .grey{
      background-color: ghostwhite;
      color: black;
  }
  .center{
      text-align: center
  }

  footer{
    background-color: black;
    padding: 20px;

  }
  footer img{
      width:46px;
      height: 46px;
  }
  footer p{
      line-height: 120%;
      color: white;
  }
footer h3{
    line-height: 200%;
    color: white;
}


/* Responsiveness using media query */
@media screen and (max-width: 320px) {
    .tinted-image h3 {
        font-size: 100%;
    }
}

@media screen and (max-width: 450px) {
    .col-3{
        flex: 100%;
        padding: 20px 30px;
        align-content: center;
    }
    .tinted-image h3{
        font-size:18px;
    }
    
} 